* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

ul {
  height: 80px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  font-size: 20px;
}

li {
  transition: all 200ms linear;
}

li:hover {
  color: #ffff;
  transition: all 200ms linear;
}

.menu {
  color: #9932cc;
  background-color: #1b1a22;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#section01 {
  background-color: #4d9f2c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-top: 150px;
}

#section02 {
  background-color: rgb(230, 237, 22);
  height: 70vh;
}

#section03 {
  background-color: rgb(25, 21, 224);
  height: 70vh;
}

#section04 {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-top: 80px;
}

.section01-left-div {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 999px;
  transition: all 200ms linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-style-section01 {
  width: 500px;
  height: auto;
  transition: all 200ms linear;
}

.img-style-section01:hover {
  transform: scale(1.1);
  transition: all 200ms linear;
  cursor: crosshair;
  filter: grayscale(100%);
}

.section01-right-div {
  width: 800px;
  height: 500px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2vh;
}

.heading-contact {
  width: 100%;
  text-align: center;
}

.left-contact {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.right-contact {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}


@media(width <= 600px){
  .section01-left-div {
    width: 300px;
    height: 300px;
  }
  
  .img-style-section01 {
    width: 300px;
  }
  .l01{
    width: 100%;
    text-align: center;
  }
  
  .p01{
  width: 100%;
  text-align: center;
  }
}